# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
venv/
ENV/

# misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log

# Local files
.vercel
.env*.local 
