# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build
/dist

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
venv/
ENV/
.pytest_cache/

# misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log

# Local files
.vercel
.env*.local

# TypeScript
*.tsbuildinfo

# Temporary files
.temp/
.tmp/
.cache/
.zap/

# Database
*.sqlite
*.sqlite3
*.db

# System Files
Thumbs.db
.DS_Store
desktop.ini 